<ion-header>
  <ion-toolbar>
    <ion-title>
      List Station
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
          Charging Station
        </ion-list-header>
      
      <div>
        <ion-button expand="full" (click)="redirectToAims()">
          AIMS
        </ion-button>
      </div>

      <div>
        <ion-button expand="full" (click)="redirectToCP()">
          CP
        </ion-button>
      </div>

    </ion-list>
</ion-content>
