<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Top Cities(EV Load)</h4>
            <p class="card-category">By no of visit per EV station</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>City</th>
                <th>Count</th>
                <th>Income</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Delhi</td>
                  <td>956</td>
                  <td>INR 66,738</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Chandigadh</td>
                  <td>786</td>
                  <td>INR 56,838</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Banglore</td>
                  <td>625</td>
                  <td>INR 45,758</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Amrawati City</td>
                  <td>352</td>
                  <td>INR 36,700</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Top EV Station (EV Load)</h4>
            <p class="card-category">By no of visit per EV station</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Station</th>
                <th>Count</th>
                <th>Income</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Khan Market</td>
                  <td>456</td>
                  <td>INR 11,718</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Defence Coloney</td>
                  <td>321</td>
                  <td>INR 9,738</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Noida</td>
                  <td>226</td>
                  <td>INR 7,712</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Gaur City</td>
                  <td>125</td>
                  <td>INR 3,563</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
